@inject CardService cardService

<main class="card-list">
    @if (cardService.IsLoading)
    {
        <div class="loading-spinner">
            <div class="spinner"></div>
            <p>Loading cards...</p>
    </div>
    }
    else
    {
        @foreach (CardDto card in cardService.Cards)
        {
            <CardListItem Id="@card.Id"
                          Name="@card.Name"
                          Power="@card.Power"
                          Text="@card.Text"
                          Type="@card.Type"
                          SetName="@card.SetName"
                          ArtistName="@card.ArtistName"
                          RarityName="@card.RarityName"
                          CardTypesString="@string.Join(", ", card.CardTypes)"
                          ImageUrl="@card.OriginalImageUrl"
                          CardDto="@card">
            </CardListItem>
        }
    }
</main>

<style>
    .card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
</style>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        cardService.CardsChanged += OnCardsChanged;
    }

    private void OnCardsChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}